#gif_list{
  position: relative;
  /* height: 100%; */
}
.ul_gif_list{
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
  border: 2px solid black;
  max-height: 124px;
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
}
.ul_gif_list li{
  width: calc(20% - 2px);
  float: left;
  border: 1px solid black;
  height: 70px;
  pointer-events: all;
}
.ul_gif_list li img{
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}